<nav class="pf-c-nav navbar-light nav-devices" aria-label="Global">
    <ul class="pf-c-nav__list">
      <li class="pf-c-nav__item">
        <a href="/devices" id="devices-current" class="pf-c-nav__link">Current devices</a>
      </li>
      <li class="pf-c-nav__item">
        <a href="/devices/pending" id="devices-pending" class="pf-c-nav__link">Pending devices</a>
      </li>
      <li class="pf-c-nav__item">
        <a href="/devices/tokens" id="devices-tokens" class="pf-c-nav__link">Provisioning Tokens</a>
      </li>
      <li class="pf-c-nav__item">
        <a href="/devices/templates" id="devices-templates"class="pf-c-nav__link">Templates</a>
      </li>
    </ul>
  </nav>